@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Nunito", serif;
    padding:0px;
    margin:0px;
}
.app-wrapper{
    background-color: #ebeae4;
    height: 100vh;
    width:100%;
}
.app-wrapper .sign-up-page{
    width:90%;
    margin-left: 5%;
    height: 80vh;
    padding-top: 10vh;
    text-align: center;
}
.app-wrapper .sign-up-page .sign-up-page-inner{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.app-wrapper .sign-up-page .sign-up-page-inner .form-input{
    text-align: center;
    padding:15px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* universal classes */
.response{
    position:absolute;
    padding:10px 10px;
    border-radius: 10px;
    font-size: 14px;
    width: calc(96% - 20px);
    left:2%;
    top:10px;
    z-index: 100;
    display: none;
}
.response .fa-solid{
    font-size: 20px;
}
.my-red{
    background-color: #9f080f;
    color: #ffffff;
}
.my-success{
    background-color: #5ad85e;
    color:white;
}
.response.displayed{
    display: flex;
}
.responseClass{
    display: none;
}
.color-dark{
    color: #000;
}
.is-active{
    color:white;
}
.default-color{
    color:#9f080f;
}
.text-left{
    text-align: left;
}
.fw-bold{
    font-weight: bold;
}
.btn-default{
    background-color: #9f080f;
    color:#ffffff;
    border-radius: 15px;
    padding:15px;
    border:0px;
}
.col-15{
    width:15%;
}
.home-logo{
    width:30px;
    height:30px;
    border-radius:50%;
}
.col-85{
    width: 85%;
}
.col-67{
    width:68%;
}
.col-30{
    width: 30%;
}
.col-33{
    width:33.3%;
}
.col-100{
    width: 100%;
}
.col-20{
    width: 20%;
}
.col-90{
    width: 90%;
}
.col-10{
    width:10%;
}
.text-right{
    text-align: right;
}
.col-50{
    width: 50%;
}
.col-60{
    width:60%;
}
.col-40{
    width: 40%;
}
.col-80{
    width:80%;
}
.col-70{
    width: 70%;
}
.col-flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.col-25{
    width: 23%;
}
.universal-input{
    padding: 10px 10px;
}
.universal-input:focus{
    outline: none;
}
.form-input{
    border:1px solid rgb(220,220,220);
    border-radius: 10px;
    width: 90%;
    padding:10px;
    margin-top: 10px;
}
.form-group{
    width:100%;
    margin-top: 15px;
}
.form-group select.form-input{
    width: 96%;
}
/* home page */
.app-wrapper .home-wrapper{
    width: 96%;
    margin-left:2%;
    height: 100%;
}
.home-wrapper .home-top-bar{
    width: 100%;
    padding-top: 20px;
    height: fit-content;
}
.home-top-bar p{
    font-size:13px;
    margin-left:5%;
}
.home-top-bar p span{
    color:#9f080f;
}
.home-top-bar .fa-solid{
    color:#9f080f;
    margin-right: 10px;
}
.home-wrapper .home-main-bar{
    margin-top:40px;
}
.home-wrapper .home-main-bar .fa-solid{
    color:#ffffff;
    font-size: 18px;
    background-color: #9f080f;
    padding:10px;
    border-radius: 8px;
}
.home-wrapper .home-main-actions{
    display: flex;
    flex-wrap: wrap;   
    background-color: #ffffff;
    margin-top: 30px;
}
.home-wrapper .home-main-actions:last-child{
    margin-top: 10px;
}
.home-wrapper .home-main-actions .col-33{
    padding:10px;
    width: calc(33.3% - 20px);
}
.home-wrapper .home-main-actions .col-33 .col-40{
    padding:10px;
}
.home-wrapper .home-main-actions .col-33 .col-40 .fa-solid,
.home-wrapper .home-main-actions .col-33 .col-40 p{
    font-size: 12px;
}
.home-wrapper .home-main-actions .col-100{
    padding:10px;
}
.home-wrapper .home-main-actions .col-100 p{
    font-size: 14px;
}
.home-main-actions:last-child span{
    font-size: 12px;
}
.msg-box{
    border-bottom: 1px solid rgb(220,220,220);
}
.nav-bar{
    height: 40px;
    background-color: #9f080f;
    position:fixed;
    top: calc(100vh - 40px);
    z-index: 98;
}
.nav-bar .fa-solid{
    font-size: 18px;
    padding:10px 0px;
}
.sign-up-page .sign-up-page-inner .col-100 .col-50 .form-input{
    width:76%;
}
.profile-pic{
    width: 70px;
    height:70px;
    border-radius: 50%;
}
.genre-list{
    padding:4px;
    background-color: #cdccc9;
    margin-left:3%;
}
.genre-list .fa-solid{
    margin-left:5px;
    color:red;
    cursor: pointer;
    margin-top: 3px;
}
.sm-font{
    font-size:14px;
}
.light-dark{
    color:rgb(150, 150, 150);
}
.title-bar{
    padding:10px 0px;
    font-size: 18px;
}
.title-bar .fa-solid{
    margin-right: 5px;
}
.chat-body{
    height: 83vh;
    overflow-y: scroll;
    background-color: #ffffff;
    width:calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
}
.chat-box{
    padding:10px 0px;
    border-bottom: 1px solid rgb(220,220,220);
}
.chat-body::-webkit-scrollbar{
    display: none;
}
.read-pic{
    width:40px;
    height: 40px;
    border-radius: 50%;
}
.chat-pic{
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}
.chat-page .col-100 .col-40 .fa-angle-left{
    font-size: 16px;
    margin-top: 10px;
    color:rgb(200,200,200);
}
.chat-page .col-100.col-flex.chat-top{
    border-bottom: 1px solid rgb(240,240,240);
    padding-bottom: 5px;
}
.not-dot{
    margin-top: 5px;
    width:15px;
    height:15px;
    background-color: #9f080f;
    display: flex;
    text-align: center;
    color:#ffffff;
    font-size: 12px;
    border-radius: 50%;
}
.not-dot .not-dot-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50%;
}
.sm-time{
    font-size: 10px;
}
.chat-page-body{
    width:100%;
    height: 66vh;
    overflow-y: auto;
}
.chat-page .col-60 p{
    margin-left:5%;
    margin-top: 5px;
    font-size: 15px;
    color:rgb(150,150,150);
}
.chat-body-box{
    margin-top:10px;
    width:fit-content;
    padding:5px;
    background-color: rgb(240,240,240);
    border-radius: 5px;
}
.send-msg-box{
    margin-top: 5px;
}
.send-msg-box .form-input{
    width:94%;
    min-height: 3px;
    max-height: 100px; /* Set max height */
    overflow-y: auto;
    resize: none;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: height 0.2s ease-in-out;
}
.chat-body-box .fa-solid{
    margin-left: 10px;
    margin-top:5px;
    color:#9f080f
}
.sent-to-me{
    float: left;
}
.chat-body-box.i-sent{
    float:right;
    background-color: #ebeae4;
}
.chat-body-box .col-100 span{
    color:#9f080f;
    font-size: 10px;
}
.no_message{
    position:absolute;
    z-index: 2;
    top:33%;
}
.no_message img{
    width:100px;
    rotate: -25deg;
}
.no_message p{
    margin-top: 10px;
}
.new-chat-holder{
    position: fixed;
    z-index: 200;
    top:85vh;
}
.new-chat-btn{
    background-color: #9f080f;
    color:#ffffff;
    padding:10px 15px;
    cursor: pointer;
    width:fit-content;
    float:right;
    border-radius: 20px;
}
.user-panel{
    width: 100%;
    height: 100%;
}
.user-panel .chat-box .col-80 p{
    margin-top: 10px;
}
.send-msg-box .col-20 .fa-solid{
    margin-top: 8px;
    padding:10px;
    color:#9f080f;
    font-size: 22px;
}