*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
/* universal classes */
.col-15{
    width:15%;
}
.col-85{
    width: 85%;
}
.col-30{
    width: 30%;
}
.col-100{
    width: 100%;
}
.col-20{
    width: 20%;
}
.col-90{
    width: 90%;
}
.col-10{
    width:10%;
}
.col-50{
    width: 50%;
}
.col-80{
    width:80%;
}
.col-70{
    width: 70%;
}
.col-flex{
    display: flex;
    flex-wrap: wrap;
}
.is-active{
    color: #ffffff;
}
.float-right{
    text-align: right;
}
.universal-input{
    padding: 7px 10px;
}
.universal-input:focus{
    outline: none;
}
.search-input{
    border:0px;
}
.title-label{
    font-size: 22px;
    color:#161a2c;
}
.title-label-small{
    color:#8d9498;
    font-size: 16px;
    font-weight: lighter;
}
.form-input{
    border:1px solid rgb(220,220,220);
    border-radius: 5px;
    width: 90%;
    padding:10px;
    margin-top: 10px;
}
.form-group{
    width:100%;
    margin-top: 15px;
}
.form-group select.form-input{
    width: 96%;
}
.text-light-gray{
    color:rgb(230,230,230);
}
.text-dark-gray{
    color:#333;
}
.btn{
    padding:10px;
    border:0px;
    cursor: pointer;
}
.btn-primary{
    background-color: #1a2035;
    color:#ffffff;
}
.btn-success{
    background-color: #5ad85e;
    color:#ffffff;
}
/* admin panel */
.admin-layout{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: #1a2035;
}
.admin-layout .admin-panel{
    width: 96%;
    margin-left: 2%;
    margin-top: 15px;
}
.admin-layout .admin-panel .admin-panel-body{
    margin-top: 15px;
    padding:15px;
    background-color: #ffffff;
}
.admin-layout .nav-bar .system-logo img{
    width: 50px;
    margin:20px 7%;
}
.admin-layout .nav-bar .col-90{
    margin-left:2px;
    width: calc(100% - 7px);
}
.admin-layout .nav-bar .col-90.col-flex a{
    color: #8d9498;
    padding: 10px 0px;
    cursor: pointer;
    border-left: 3px solid transparent;
}
.admin-layout .nav-bar .col-90.col-flex .is-active,
.admin-layout .nav-bar .col-90.col-flex .dark-nav-bar{
    color:#ffffff;
    background-color: #161a2c;
}
.admin-layout .nav-bar .col-90.col-flex .dark-nav-bar{
    font-size: 12px;
    color:#8d9498;
}
.admin-layout .nav-bar .col-90.col-flex .dark-nav-bar.is-active{
    color:#ffffff;
}
.admin-layout .nav-bar .col-90.col-flex .is-active{
    border-left: 3px solid #6760cd;
}
.admin-layout .nav-bar .col-90.col-flex .is-active .fa-solid{
    color: #6760cd;
}
.admin-layout .nav-bar .col-90 .fa-solid{
    margin-right:10px;
    color: #8d9498;
    margin-left: 20px;
}
.admin-layout .col-85{
    height: 100vh;
    background-color: #f5f7fd;
}
/* top bar */
.admin-layout .top-bar .inner-col{
    width:96%;
    margin-left:2%;
}
.admin-layout .top-bar{
    padding:15px 0px;
    background-color: #ffffff;
}
.admin-layout .top-bar .inner-col .col-50 .search-input-holder{
    height: fit-content;
}
.admin-layout .top-bar .inner-col .col-50 .search-input-holder input{
    width: 300px;
}
.admin-layout .top-bar .inner-col .search-panel .search-panel-inner{
    border:1px solid rgb(220,220,220);
    padding:5px 5px;
    border-radius: 5px;
    width: fit-content;
}
.admin-layout .top-bar .inner-col .search-panel .search-panel-inner .submit-class .fa-solid{
    color: #161a2c;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
}
.admin-layout .top-bar .inner-col .col-50 .top-bar-icon .fa-solid{
    color:#8d9498;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 15px;
}
.admin-layout .top-bar .inner-col .col-50 .top-bar-icon img{
    width: 40px;
    margin-top: 8px;
    border-radius: 50%;
}
.admin-layout .top-bar .inner-col .col-50 .top-bar-icon .text-div{
    margin-top: 20px;
    margin-left:10px;
}
.admin-layout .admin-panel .admin-panel-body .title-label{
    font-size: 18px;
}
.admin-layout .admin-panel .admin-panel-body .book-list{
    padding:8px;
    width: fit-content;
    background-color: rgb(230,230,230);
    margin-right: 4px;
}
.admin-layout .admin-panel .admin-panel-body .book-list .fa-solid{
    color:red;
    cursor: pointer;
}